/* index3 */
.p3_background{
    background-color: #4169a5;
}
.col-md-3{
    margin-top: 20px;
    margin-bottom: 20px;
}
.p3Img:hover{
    filter: brightness(70%);
}
/* index4 */
.p4_title{
    width: 20%;
    margin: 40px;
}
#p4{
    width: 100%;
    /* border: 1px solid black; */
}
.p4Img{
    width: 80%;
    margin-top: 100px;
}
.p4Img:hover{
    filter: brightness(70%);
}
.p4_right{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
.p4_right:hover{
    filter: brightness(70%);
}

/* 5*/

.p5_title{
    width: 20%;
    margin: 40px;
}

.col-lg-2{
    margin: 10px;
    border: 1px solid black;
    height: 300px;
}
.col-lg-2>.img:hover{
    filter: brightness(70%);
}
/* p6 */
.page6:hover{
    filter: brightness(70%);
}
.page6{
    display: block;
    margin: auto;
    margin-top: 50px;
}


/* 7 */
.p7_text{
    top: 100px;
    position: relative;
    height: 10%;
    /* margin-top: 100px; */
    text-align: center;
}
#p7{
    margin-top: 100px;
}
#p7_img{
    margin-top:90px;
}
#p7>.row>.col-md-4>a>img:hover{
    filter:brightness(70%);
}
#sketch7{
    margin-top: 100px;
    border: 2px solid black;
}
/* 8 */
.p8_title{
    margin: 40px;
}

.p8_title>img{
    width: 20%;
}
.p8img:hover{
    filter: brightness(70%);
}
.p8img{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.p8img2{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.p8text:hover{
    color: gray;
}
.p8text{
    color: black;
    text-decoration: none;
    
    font-size: 40px;
    text-align: center;
}


/* 9 */
#p9{
    margin-top: 200px;
}
.main-background{
    width: 100%;
    height: 100%;
    background-image : url(./SVG/p9_1.svg);
    background-size : fixed;
    background-repeat : no-repeat;
    background-position : center;
    /* background-attachment : fixed; */
    padding: 1px;
}

.p9Vid{
    width: 90%;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    bottom: 400px;
    
}